
body {
    background: url('../blue-question-mark-background-with-text-space-quiz-symbol-vector.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
  }
  

  .home-container {
    max-width: 600px;
    margin: auto;
    text-align: center;
    padding-top: 80px; 
  }
  
 
  .quiz-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 20px;
  }
  
  
  .quiz-item {
    padding: 15px;
    background: #a4ff3b; 
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .quiz-item:hover {
    background: #ff0000; 
  }
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    background: #f39c12;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  